.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f4646;
  background-image: url('../images/hexellence.png');
  color: #fff;
}
body a {
  color: #fff;
  text-decoration: none;
  padding: 0.2em;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header nav a {
  color: #fff;
  text-decoration: none;
  padding: 3em;
}
body .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #61b8b89b;
  padding: 3em;
  margin: 1em;
}
body .main #hideDojoEveryDay,
body .main #hideDojoClass,
body .main #hideDojoOther,
body .main #hideSirchFigma,
body .main #hideSirchTasks,
body .main #hideCfaMain,
body .main #hideCfaSites,
body .main #hideCfaDocs,
body .main #hidePersonalMain,
body .main #hidePersonalSites,
body .main #hidePersonalLinks,
body .main #hideBeeDevMain,
body .main #hideBeeDevLinks {
  display: none;
}
body .main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
body .main .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1em;
}
body .main .row .column h3 {
  border: 3px groove #0f4646;
  padding: 0.5em 1.5em;
}
body .main .row .column .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .row .column .nav a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
}
body .main .row .column .innerC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .row .column .innerC h4 {
  border: 3px groove #0f4646;
  padding: 0.5em 1.5em;
}
body .main .row .column .innerC .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .row .column .innerC .nav a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
}
body .main .row .column .innerR {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
body .main .row .column .innerR .innerC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .row .column .innerR .innerC h4 {
  border: 3px groove #0f4646;
  padding: 0.5em 1.5em;
}
body .main .row .column .innerR .innerC .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .row .column .innerR .innerC .nav a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
}
